<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoGraph Tool</title>
    <link rel="stylesheet" href="frontend.component.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to EcoGraph </h1>
            <p>Unlock the full potential of your data with EcoGraph , the premier platform for creating dynamic and insightful visualizations. Our tool is meticulously designed to cater to the needs of data analysts, helping you transform complex datasets into clear, actionable insights.</p>
            <p><strong>Why Choose EcoGraph ?</strong></p>
                <ul>
                    <li><strong>Comprehensive Data Coverage:</strong> Leverage detailed datasets from Kaggle and the IMF to understand global economic trends and demographic shifts.</li>
                    <li><strong>Deep Dive into Climate Analytics:</strong> Utilize data from the IMF's Climate Change database to explore critical environmental indicators, such as surface temperature changes, frequency of natural disasters, and land coverage changes.</li>
                    <li><strong>Interactive and Customizable Visualizations:</strong> Choose from bar charts, line charts, and scatter charts to best represent your data.</li>
                    <li><strong>User-Friendly Interface:</strong> Our tool's intuitive design allows you to create stunning visualizations in minutes.</li>
                    <li><strong>Advanced Analytical Capabilities:</strong> Features like data filtering, real-time updates, and collaboration tools enhance your analytical workflow.</li>
                </ul>
            <p>Join the community of data analysts who trust EcoGraph  for their data visualization needs. Explore our demo visualizations and see the difference our tool can make in your analytical workflow.</p>
            <div class="button-container">
                
                <button class="button" onclick="window.location.href='/form'">Begin</button>

            </div>
        </div>
        <div class="images">
            <img src="bar-chart.png" alt="Bar Chart">
            <img src="line-chart.png" alt="Line Chart">
            <img src="scatter-chart.png" alt="Scatter Chart">
        </div>
    </div>
</body>
</html>

